{% extends 'base.html' %}
{% load staticfiles %}
{% block mycss %}
    <style>
    .caption p{
        color: #d43f3a;
    }
    </style>
{% endblock %}
{% block myjs %}
    <script>
    $('.btn-default').click(function () {
        alert('哈哈哈')
    })
    </script>

{% endblock %}
{% block title %}
    电影
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
            content or information.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'images/1.png' %}" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>汽车之家</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                       role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'images/1.png' %}" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>汽车之家</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                       role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'images/1.png' %}" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>汽车之家</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                       role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}